<?xml version="1.0" encoding="UTF-8"?>
<configuration
    debug="false"
    xmlns="ch.qos.logback">
    
    <!--====================================================================================================
    = CONTEXT NAME
    =====================================================================================================-->
    <contextName>phiz-cxf-codegen</contextName>
    
    <!--====================================================================================================
    = STATUS LISTENERS
    =====================================================================================================-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    
    <!--====================================================================================================
    = CONTEXT LISTENERS
    =====================================================================================================-->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    
    <!--====================================================================================================
    = APPENDERS: CONSOLE
    =====================================================================================================-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss z} [%C:%L %t] %p - %m%n%rEx</pattern>
        </encoder>
        <target>System.out</target>
        <withJansi>true</withJansi>
    </appender>
    
    <!--====================================================================================================
    = LOGGERS: APACHE
    =====================================================================================================-->
    <logger name="org.apache" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    
    <!--====================================================================================================
    = ROOT LOGGER
    =====================================================================================================-->
    <root level="warn">
        <appender-ref ref="console"/>
    </root>
</configuration>