[
    {kernel, [
        {inet_dist_listen_min, 0},
        
        {inet_dist_listen_max, 0}
    ]},
    
    {rabbit, [
        {log_levels, [{connection, debug}]},
        
        {tcp_listeners, []},
        
        {ssl_listeners, [@{phiz.rabbitmq.port.amqps}]},
        
        {ssl_options, [
            {cacertfile, "@{phiz.crypto.cred.ca.cert.file}"},
            {certfile, "@{phiz.rabbitmq.crypto.server.cred.ssl.cert.file}"},
            {keyfile, "@{phiz.rabbitmq.crypto.server.cred.ssl.key.private.file}"},
            {verify, verify_peer},
            {fail_if_no_peer_cert, true},
            {versions, ['#{ T(gov.hhs.onc.phiz.crypto.ssl.PhizTlsVersions).TLS_1_2_NAME }']}
        ]},
        
        {ssl_cert_login_from, common_name},
        
        {ssl_handshake_timeout, 5000},
        
        {auth_mechanisms, ['EXTERNAL']},
        
        {default_user_tags, []}
    ]}
].
